<!DOCTYPE html>
{{userName}}

<body>
    <div class="grid-container">
        <div class="Title">
            <h1>CelebiDotNet</h1>
        </div>
    </div>
    <p>Email: {{user.email}}</p>

    <p *ngFor="let role of roles">
        Role: {{role.name}}
    </p>
    <p>Change UserName</p>
    <mat-form-field appearance="fill">
        New Username:<mat-label></mat-label>
        <input matInput [(ngModel)]="newUsername">
        </mat-form-field>
        <div mat-dialog-actions>
            <button mat-button (click)="ChangeUserName()">Change your username</button>
        </div>
    <p>Change your email</p>
            <mat-form-field appearance="fill">
            New Email:<mat-label></mat-label>
            <input matInput [(ngModel)]="newMail">
            </mat-form-field>
    <div mat-dialog-actions>
        <button mat-button (click)="ChangeMail()">Change your mail</button>
    </div>
    <p>Change password</p>
</body>

