body{
    height: 100%;
    background-size: 150%,150%;
}
.flex-container {
    position: relative;
}
.flex-container img {
    position: relative;
    width: 50%;
    transition: all 2s;
    left: 23.8%;
    border-radius: 50%;
    border: none;
    cursor: pointer;
}
.image:hover {
transform: rotate(1080deg);
}
.flex-container .btn{
    background-color: #ffffff;
    position: absolute;
    border-radius: 100%;
    height: 8%;
    width: 4.2%;
    transform: translate(-77%,570%);
    border: none;
    cursor: pointer;
}
.flex-container .btn:hover {
    background-color: rgb(241, 83, 83);
}