<!DOCTYPE html>
{{userName}}
<html>
    <body>
        <div class="grid-container">
            <div class="Title">
                <h1>CelebiDotNet</h1>
            </div>
        </div>
        <div>Username: {{user.userName}}</div>
        <div>Email: {{user.email}}</div>
        <div *ngFor="let role of roles">
            Role: {{role.name}}
        </div>
        <div>
            <p>Add a role to the user</p>
            <mat-form-field>
                Name of role:<mat-label></mat-label>
            <mat-select [(value)]="selectedRole" (selectionChange)="findRole(selectedRole)">
                <div *ngFor="let role of allRoles">
                    <mat-option value={{role.name}}>{{role.name}}</mat-option>
                </div>
            </mat-select>
            </mat-form-field>
            
            <div mat-dialog-actions>
                <button mat-button (click)="AddRole()">Add the role</button>
            </div>

            <p>Remove a role from the user</p>
            <mat-form-field appearance="fill">
                Name of role:<mat-label></mat-label>
                <mat-select [(value)]="selectedRole" (selectionChange)="findRole(selectedRole)">
                    <div *ngFor="let role of roles">
                        <mat-option value={{role.name}}>{{role.name}}</mat-option>
                    </div>
                </mat-select>
            </mat-form-field>

            <div mat-dialog-actions>
                <button mat-button (click)="RemoveRole()">Remove the role</button>
            </div>
        </div>
        <div>{{message}}</div>
    </body>
</html>
