
<!DOCTYPE html>
<div>{{userName}}</div>
<html>
    <body>
        <div class="grid-container">
            <div class="Title">
                <h1>CelebiDotNet</h1>
            </div>
        </div>
        
        <mat-form-field appearance="fill">
            <mat-label>Select</mat-label>
            <mat-select>
                <div *ngFor="let pokemon of parray">
                    <mat-option value="one" [routerLink]="['/pokedexPage',pokemon.id]">{{ pokemon.name }}</mat-option>
                </div>
            </mat-select>
        </mat-form-field>
    </body>
    
    <li>
        <button (click)="openAddDialog()">Add new Pokemon</button>
    </li>
    <li *ngIf="pokemon.name">
        You added: <i>{{pokemon.name}}</i>
    </li>
    <li>
        <button (click)="openDeleteDialog()">Delete Pokemon</button>
    </li>
    <li *ngIf="pokemon.id">
        You deleted: <i>{{pokemon.id}}</i>
    </li>
    <li>
        <button (click)="openUpdateDialog()">Update Pokemon</button>
    </li>
    <li *ngIf="pokemon.id">
        You updated: <i>{{pokemon.id}}</i>
    </li>
</html>
