
<!DOCTYPE html>
<div>{{userName}}</div>
<html>
    <body>
        <div class="grid-container">
            <div class="Title">
                <h1>CelebiDotNet</h1>
            </div>
        </div>
        
        <mat-form-field appearance="fill">
            <mat-label>Select</mat-label>
            <mat-select>
                <div *ngFor="let pokemon of parray">
                    <mat-option value="one" [routerLink]="['/pokedexPage',pokemon.id]">{{ pokemon.name }}</mat-option>
                </div>
            </mat-select>
        </mat-form-field>
        
        <li *ngIf="isVisible">
            <button (click)="openAddDialog()">Add new Pokemon</button>
        </li>
        <li *ngIf="isVisible">
            <button (click)="openDeleteDialog()">Delete Pokemon</button>
        </li>
        <li *ngIf="isVisible">
            <button (click)="openUpdateDialog()">Update Pokemon</button>
        </li>
        <i>{{message}}</i>
        
    </body>
</html>
