<!DOCTYPE html>
{{userName}}
<html>
    <body>
        <div class="grid-container">
            <div class="Title">
                <h1>CelebiDotNet</h1>
            </div>
        </div>
        <div>{{pokemon.name}}</div>
        <div>{{pokemon.dexEntry}}</div>
        <div>{{pokemon.classification}}</div>
        <div>{{pokemon.type1}}</div>
        <div>{{pokemon.type2}}</div>
        <div>{{pokemon.height}}</div>
        <div>{{pokemon.weight}}</div>
        <div>{{pokemon.pokedexEntry}}</div>
    </body>
</html>
