<!DOCTYPE html>
{{userName}}
<html>
    <head>
        <style>
            div {text-align: center};
        </style>
    </head>
    <body>
        <div class="grid-container">
            <div class="Title">
                <h1>CelebiDotNet</h1>
            </div>
        </div>
        <table>
            <tr>
                <th>Name: </th> 
                <th>Nr:</th> 
                <th>Classification: </th>
                <th>Type 1: </th> 
                <th>Type 2: </th> 
                <th>Height: </th> 
                <th>Weight: </th> 
                <th>Entry: </th> 
                <th>Growth Rate: </th>
                <th>Capture Rate: </th>
                <th>EVS: </th>
            </tr>
            <tr>
                <td>{{pokemon.name}}</td>
                <td>{{pokemon.dexEntry}}</td>
                <td>{{pokemon.classification}}</td>
                <td>{{pokemon.type1}}</td>
                <td>{{pokemon.type2}}</td>
                <td>{{pokemon.height}}</td>
                <td>{{pokemon.weight}}</td>
                <td>{{pokemon.pokedexEntry}}</td>
                <td>{{pokemon.growthRate}}</td>
                <td>{{pokemon.captureRate}}</td>
                <td><div>HP:{{pokemon.hpev}}</div><div>ATK:{{pokemon.atkev}}</div><div>DEF{{pokemon.defev}}</div><div>SPEC{{pokemon.spatkev}}</div><div>SPD{{pokemon.spdev}}</div></td>       
            </tr>
        </table>
        <table>
            <tr>
                <th>Grass: </th>
                <th>Bug: </th>
                <th>Poison: </th>
                <th>Fire: </th>
                <th>Water: </th>
                <th>Ice:</th>
                <th>Electric: </th>
                <th>Ground: </th>
                <th>Rock: </th>
                <th>Fighting: </th>
                <th>Psychic: </th>
                <th>Ghost:</th>
                <th>Normal: </th>
                <th>Flying: </th>
                <th>Dragon: </th>
            </tr>
            <tr>
                <th>{{typingFinal[0]}}</th>
                <th>{{typingFinal[1]}}</th>
                <th>{{typingFinal[2]}}</th>
                <th>{{typingFinal[3]}}</th>
                <th>{{typingFinal[4]}}</th>
                <th>{{typingFinal[5]}}</th>
                <th>{{typingFinal[6]}}</th>
                <th>{{typingFinal[7]}}</th>
                <th>{{typingFinal[8]}}</th>
                <th>{{typingFinal[9]}}</th>
                <th>{{typingFinal[10]}}</th>
                <th>{{typingFinal[11]}}</th>
                <th>{{typingFinal[12]}}</th>
                <th>{{typingFinal[13]}}</th>
                <th>{{typingFinal[14]}}</th>
            </tr>
        </table>
        <table>
            <tr>
                <th>Total: </th>
                <th>HP: </th>
                <th>ATK: </th>
                <th>DEF: </th>
                <th>SPEC: </th>
                <th>SPD: </th>
            </tr>
            <tr>
                <td>{{pokemon.hp + pokemon.atk + pokemon.def + pokemon.spatk + pokemon.spd}} </td>
                <td>{{pokemon.hp}} </td>
                <td>{{pokemon.atk}} </td>
                <td>{{pokemon.def}} </td>
                <td>{{pokemon.spatk}} </td>
                <td>{{pokemon.spd}} </td>
            </tr>
            <tr>
                <td>Level 50:</td>
                <td>{{pokemon.hp + 60}} - {{pokemon.hp + 106}}</td>
                <td>{{pokemon.atk + 5}} - {{pokemon.atk + 51}}</td>
                <td>{{pokemon.def + 5}} - {{pokemon.def + 51}}</td>
                <td>{{pokemon.spatk + 5}} - {{pokemon.spatk + 51}}</td>
                <td>{{pokemon.spd + 5}} - {{pokemon.spd + 51}}</td>
            </tr>
            <tr>
                <td>Level 100:</td>
                <td>{{(pokemon.hp + 60) * 2 - 10}} - {{(pokemon.hp + 60) * 2 + 83}}</td>
                <td>{{pokemon.atk * 2 + 5}} - {{pokemon.atk * 2 + 98}}</td>
                <td>{{pokemon.def * 2 + 5}} - {{pokemon.def * 2 + 98}}</td>
                <td>{{pokemon.spatk * 2 + 5}} - {{pokemon.spatk * 2 + 98}}</td>
                <td>{{pokemon.spd * 2 + 5}} - {{pokemon.spd * 2 + 98}}</td>
            </tr>
            
            <tr>
                <td>Moves learned by leveling up</td>
                <div *ngFor="let moves of lMoves">
                    <td>{{moves.name}}</td>
                    <td>Type: {{moves.type}}</td>
                    <td>PP: {{moves.powerPoints}}</td>
                    <td>Base Power: {{moves.basePower}}</td>
                    <td>Accuracy: {{moves.accuracy}}</td>
                    <td>Effect %: {{moves.effectRate}}</td>
                    <td>{{moves.battleEffect}}</td>
                </div>
            </tr>
        </table>
    </body>
</html>
