<!DOCTYPE html>
{{userName}}
<html>
    <head>
        <style>
            div {text-align: center};
        </style>
    </head>
    <body>
        <div class="grid-container">
            <div class="Title">
                <h1>CelebiDotNet</h1>
            </div>
        </div>
        <table>
            <tr>
                <th>Name: </th> 
                <th>Type: </th> 
            </tr>
            <tr>
                <td>{{move.name}}</td>
                <td>{{move.type}}</td></tr>
        </table>
        <table>
            <tr>
                <th>Power Points: </th>
                <th>Base Power: </th>
                <th>Accuracy: </th>
            </tr>
            <tr>
                <td>{{move.powerPoints}} </td>
                <td>{{move.basePower}} </td>
                <td>{{move.accuracy}} </td>
            </tr>
        </table>
        <table>
            <tr>
                <th>Battle Effect: </th>
            </tr>
            <tr>
                <td>{{move.battleEffect}} </td>
            </tr>
        </table>
        
        <table>
            <tr>
                <th>Effect Rate: </th>
                <th>Priority: </th>
                <th>Target: </th>
            </tr>
            <tr>
                <td>{{move.effectRate}} </td>
                <td>{{move.priority}} </td>
                <td>{{move.target}} </td>
            </tr>
        </table>
        <table>
            <tr>
                <th>Moves learned by leveling up </th>
                <th>Number: </th>
                <th>Type: </th>
                <th>HP: </th>
                <th>ATK: </th>
                <th>DEF: </th>
                <th>SPEC: </th>
                <th>SPD: </th>
                <th>Level: </th>
            </tr>
            <tr>
                <td>
                    <a *ngFor="let pokemon of lPokemon">
                        <div>{{pokemon.name}}</div>
                    </a>
                </td>
                <td>
                    <a *ngFor="let pokemon of lPokemon">
                        <div>{{pokemon.dexEntry}}</div>
                    </a>
                </td>
                <td>
                    <a *ngFor="let pokemon of lPokemon">
                        <div>{{pokemon.type1}} / {{pokemon.type2}}</div>
                    </a>
                </td>
                <td>
                    <a *ngFor="let pokemon of lPokemon">
                        <div>{{pokemon.hp}}</div>
                    </a>
                </td>
                <td>
                    <a *ngFor="let pokemon of lPokemon">
                        <div>{{pokemon.atk}}</div>
                    </a>
                </td>
                <td>
                    <a *ngFor="let pokemon of lPokemon">
                        <div>{{pokemon.def}}</div>
                    </a>
                </td>
                <td>
                    <a *ngFor="let pokemon of lPokemon">
                        <div>{{pokemon.spatk}}</div>
                    </a>
                </td>
                <td>
                    <a *ngFor="let pokemon of lPokemon">
                        <div>{{pokemon.spd}}</div>
                    </a>
                </td>
                <td>
                    <a *ngFor="let move of move.levelUpMoves">
                        <div>{{move.level}}</div>
                    </a>
                </td>
            </tr>
        </table>
        <table>
            <tr>
                <th>Moves learned by TM </th>
                <th>Number: </th>
                <th>Type: </th>
                <th>HP: </th>
                <th>ATK: </th>
                <th>DEF: </th>
                <th>SPEC: </th>
                <th>SPD: </th>
                <th>Level: </th>
            </tr>
            <tr>
                <td>
                    <a *ngFor="let pokemon of tPokemon">
                        <div>{{pokemon.name}}</div>
                    </a>
                </td>
                <td>
                    <a *ngFor="let pokemon of tPokemon">
                        <div>{{pokemon.dexEntry}}</div>
                    </a>
                </td>
                <td>
                    <a *ngFor="let pokemon of tPokemon">
                        <div>{{pokemon.type1}} / {{pokemon.type2}}</div>
                    </a>
                </td>
                <td>
                    <a *ngFor="let pokemon of tPokemon">
                        <div>{{pokemon.hp}}</div>
                    </a>
                </td>
                <td>
                    <a *ngFor="let pokemon of tPokemon">
                        <div>{{pokemon.atk}}</div>
                    </a>
                </td>
                <td>
                    <a *ngFor="let pokemon of tPokemon">
                        <div>{{pokemon.def}}</div>
                    </a>
                </td>
                <td>
                    <a *ngFor="let pokemon of tPokemon">
                        <div>{{pokemon.spatk}}</div>
                    </a>
                </td>
                <td>
                    <a *ngFor="let pokemon of tPokemon">
                        <div>{{pokemon.spd}}</div>
                    </a>
                </td>
                <td>
                    <a *ngFor="let move of move.levelUpMoves">
                        <div>{{move.level}}</div>
                    </a>
                </td>
            </tr>
        </table>
        <li *ngIf="isVisible">
            <button (click)="addLevelupMove(isTm)">
                Add Pokemon
            </button>
            <div mat-dialog-content>
                <mat-form-field>
                    <mat-select [(value)]="selectedPokemon" (selectionChange)="findPokemon(selectedPokemon)">
                        <div *ngFor="let pokemon of parray">
                            <mat-option value={{pokemon.name}}>{{pokemon.name}}</mat-option>
                        </div>
                    </mat-select>
                </mat-form-field>
                <mat-form-field appearance="fill">
                    Level:<mat-label></mat-label>
                    <input matInput [(ngModel)]="level">
                </mat-form-field>
                <mat-form-field>
                IS a TM:<mat-label></mat-label>
                <mat-select [(value)]="isTm">
                    <mat-option value="true">yes</mat-option>
                    <mat-option value="false">no</mat-option>
                </mat-select>
                </mat-form-field>
            </div>
        </li>
        <li *ngIf="isVisible">
            <button (click)="removeLevelupMove()">
                Remove Pokemon
            </button>
            <div mat-dialog-content>
                <mat-form-field>
                    <mat-select [(value)]="selectedPokemon" (selectionChange)="findOwnedPokemon(selectedPokemon)">
                        <div *ngFor="let move of move.levelUpMoves">
                            <mat-option value={{move.id}}>{{getPokemonById(move.pokemonId)}}: {{move.level}}</mat-option>
                        </div>
                    </mat-select>
                </mat-form-field>
            </div>
        </li>
    </body>
</html>
